# Ambientes Virtuais
.venv/
env/

# Dados (Ignorando a pasta correta e abrindo a exceção no mesmo caminho)
notebook/data/*
!notebook/data/.gitkeep

# Segurança Extra (Impede CSVs/Parquets gigantes caso caiam soltos na raiz)
*.csv
*.parquet

# Arquivos de sistema do Mac
.DS_Store

# Cache do Python e Jupyter Notebook
__pycache__/
*.pyc
.ipynb_checkpoints/
